/* Insert sytle here */

/*
Flatly theme colors:
#E74C3C = red;
#F39C12 = yellow;
#3498DB = light blue;
#18BC9C = sea green;
#2C3E50 = dark blue;
*/

/* navbar icon colors */
.logo-icon1 {
  color: #F39C12;
}

.logo-icon2 {
  color: #3498DB;
}

.logo-icon3 {
  color: #18BC9C;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #2C3E50;
  text-align: center;
  color: white;
}

/* Links and their hovers into light blue */
/*
.postLink, .postLink:hover{
  color: #3498DB;
}
*/

/* labels for topics */
/*
<span class="label label-info">Hockey Analytics</span>
<span class="label label-primary">Academic</span>
<span class="label label-default">R</span>
<span class="label label-success">E-Prime</span>
<span class="label label-warning">EEG</span>
<span class="label label-danger">Power Play</span>
*/

/* About Me */
.prof-pic{
  text-align: center;
  padding-top: 10px;
}

.social-icons ul {
  width: 100%;
  text-align: center;
  padding-right: 25px;
  padding-top: 10px;
}

.social-icons ul li {
  display: inline-block;
}

.social-icons ul li a i {
  font-size: 25px;
} 

.schoollogo{
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.progress-label {
    margin-right: 1em;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
}

 .progress-skill {
   height: 15px;
 }

